<div class="search-div">
  <button mat-raised-button >
      <mat-icon>add</mat-icon>Create
    </button>
  
  <mat-form-field class="search-form-field">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchKey"   (keyup)="applyFilter()">
    <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>

</div>

<div class = "mat-elevation-z8">
    <mat-table [dataSource]="listData"  matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Unique-ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Full Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.retailerIdentity.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">  
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="location">  
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Location</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.retailerIdentity.location}}</mat-cell>
      </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button><mat-icon>launch</mat-icon></button>
              <button mat-icon-button color="warn" (click)="onDelete(row)" ><mat-icon>delete_outline</mat-icon></button>
              <button mat-icon-button><mat-icon>edit</mat-icon></button>
            </mat-cell>
          </ng-container>

    
        
        <ng-container matColumnDef= "loading">
            <mat-footer-cell *matFooterCellDef aria-colspan="6">
                Loading Data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef= "noData">
            <mat-footer-cell *matFooterCellDef aria-colspan="6">
                No Data
            </mat-footer-cell>
        </ng-container>
        


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef = "['loading']"  [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef = "['noData']"  [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]= "[5 ,10, 25, 50]" [pageSize] = "10" showFirstLastButtons ></mat-paginator>
</div>

