<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <i class="material-icons">cloud</i>Supply Chain</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a routerLink="/manuf/pending" routerLinkActive='active'>Pending Orders</a>
        </li>
        <li>
            <a routerLink="/manuf/completed" routerLinkActive='active'>Past Orders</a>
        </li>
        <li>
            <a (click)="Logout()">Logout</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
<h1 style="text-align: center; padding: 10%;">Welcome</h1>